@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");
@import "../utils/variables";

// body {
//   font-family: "Open Sans", Helvetica, sans-serif;
//   text-align: center;
//   // margin: 20px;
// }

img {
  max-height: 150px;
  margin: auto;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: bolder;
}

.card {
  display: inline-block;
  width: 300px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  text-align: left;

  background: linear-gradient(120deg, $palette4 0%, $palette5 100%);
  box-shadow: 0px 5px 20px -10px $palette5;

  &--box {
    background-color: rgba(#ffffff, 0.65);
    padding: 1em;
    position: relative;
    border-radius: 0 0 3px 3px;
  }

  &--imagecontainer {
    background-color: $palette1;
    text-align: center;
    padding: 1em 1em 0;
    border-radius: 3px 3px 0 0;
  }
  &--name {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-top: 1rem;
  }

  &--type {
    position: absolute;
    top: 0;
    right: 1em;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    letter-spacing: 0.1em;
    padding: 0.25em;
    line-height: 1;
    border-radius: 2px;
    background: #6fb8eb;
  }

  &--stats {
    margin: 1em 0;
    li {
      font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
      text-align: center;
      font-size: 22px;
      list-style-type: none;
    }
  }

  &--title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    margin-bottom: 3px;
  }

  &--ability {
    font-size: 16px;
    margin-top: 1em;
    flex: 1 0;
    text-transform: capitalize;
  }

  &--abilities {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  }

  box-shadow: 0px 5px 20px -10px black;
  position: relative;
  transition: 0.4s;

  &:hover {
    z-index: 5;
    box-shadow: 0px 13px 30px -15px black;
    transform: translateY(-5px) translateX(-5px);
  }
}
