@import "../utils/variables";
@import "../utils/mixins";

.search {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-self: center;
  justify-self: center;

  &--input {
    text-align: center;
    align-self: center;
    width: 140px;
    height: 22px;
    margin-bottom: 15px;
    padding: 0px 10px 5px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid $palette5;
    outline: none;
    background-color: transparent;
    color: $palette4;

    &:focus {
      border-bottom: 1px solid $palette4;
    }
  }

  &--button {
    text-align: center;
    align-self: center;
    align-self: top;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    color: #50514f;
    border: 2px solid #50514f;
    font-weight: bolder;
    background: linear-gradient(180deg,$palette3 50%, $palette1 50%);
    width: 180px;
    height: 50px;
    transition-duration: 0.4s;
    box-shadow: 0px 5px 20px -10px #50514f;
    border-radius: 4px;
    text-decoration: none;
    &:hover {
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0);
      perspective: 1000px;
    }

    @keyframes shake {
      10%,
      90% {
        transform: translate3d(-1px, 0, 0);
      }
      20%,
      80% {
        transform: translate3d(2px, 0, 0);
      }

      30%,
      50%,
      70% {
        transform: translate3d(-2px, 0, 0);
      }
      40%,
      60% {
        transform: translate3d(2px, 0, 0);
      }
    }
  }

  &--refresh {
    margin-top: 8px;
    text-align: center;
    align-self: center;
    align-self: top;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    color:$palette5;
    border-color: $palette5;
    box-shadow: 0px 5px 20px -10px #50514f;
    border-radius: 4px;
    text-decoration: none;
    width: 180px;
    height: 50px;
    background: {
      image: linear-gradient(45deg, $palette2 50%, white 50%);
      position: 100%;
      size: 400%;
    }
    transition: background 300ms ease-in-out;

    &:hover {
      background-position: 0;
    }
  }
}
